nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
}

.white{
  color: white;
}

.center{
  margin-top: 60px;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}